::ng-deep .mat-progress-spinner circle, .mat-spinner circle
  stroke: #FF7200

.center-screen
  z-index: -1
  top: 50%
  left: 50%
  margin-right: -50%
  transform: translate(-50%, -50%)
  position: absolute

.my-overlay
  left: 0 !important
  top: 0 !important
  z-index: 10000 !important
  width: 100% !important
  height: 100% !important
  position: fixed !important
  background-color: rgba(0, 0, 0, 0.5) !important
  visibility: visible !important
  transition: visibility 0s, opacity 0.4s linear !important
  display: flex
  align-items: center
  justify-content: center
  cursor: wait !important

